#techBeginning {
  background: rgb(255,96,43);
  background: -moz-linear-gradient(45deg, rgba(255,96,43,1) 0%, rgba(177,66,236,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(255,96,43,1) 0%, rgba(177,66,236,1) 100%);
  background: linear-gradient(45deg, rgba(255,96,43,1) 0%, rgba(177,66,236,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff602b",endColorstr="#b142ec",GradientType=1);
}

#techBeginning-show {
  width: 100%;
  align-items: center;
}

#ctf {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#outputCTF {
  width: 85vw;
  height: 85vw;
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
  border-radius: 50%;
  background-color: #EFEFEF;
}

#secretCTF {
  width: 85%;
  max-width: 600px;
  border: none;
  background: rgb(159,159,159);
  color: #FFF;
  height: 40px;
  font-size: 1.1rem;
  padding: 5px 10px;
  margin-top: 10px 5px;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  border-bottom: 1px solid #EFEFEF;
  outline: none;
}

#secretCTF::placeholder {
  color: #EFEFEF;
}